
/*Variables, mixins ...etc*/

:root {

  /*font-weight*/

  --light: 300;
  --regular: 400;
  --madium: 500;
  --bold: 700;

  /*colors*/

  --blue: #2f5572;
  --lightBlue: #5c7a8f;
}

.main-content {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: 'Quicksand', sans-serif;
}