

/*Laptop*/

@media (min-width: 1024px) {
  .menu {
    & header {
      & .logo {
        margin-left: 0;
      }
      & nav {
        & ul {

        }
      }
    }
  }
  .our-beginning {
    & .get-started {
      flex-wrap: nowrap;
      align-items: flex-start;
      & .get-started_image {
        margin: 25px;
        & img {
          width: 345px;
        }
      }


    }

  }

}

